

.reviews{
    font-family: "DM Sans", sans-serif;
    display: grid;
    place-items: center;
    background-color: hsl(256, 67%, 59%);
    color: hsl(0, 0%, 100%);
    border: 0px solid red;
    border-radius: 7px;
    margin-top: 80px;
    margin-left: 435px;
    margin-right: 430px;
    text-align: center;
    padding-top: 20px;
}
.highlight-word1{
    color: hsl(39, 100%, 71%);
}
.start{
    margin: 35px 0px 0px;
    font-size: 60px;
    font-weight: 500;
    padding-left: 50px;
    padding-right: 31px;
}

.adv{
    font-size: 60px;
    margin: 0px;
    line-height: 0.5;
    font-weight: 400;

}
.make-italic {
  font-style: italic;
}

.stars{
    width: 170px;
    margin-bottom: 7px;
    margin-top: 35px;
}

.number-of-stars{
    margin-top: 0px;
    font-size: 17px;
    margin-bottom: 50px;
}

.content-manage-help{
    position: relative;
    border: 0px solid red;
    border-radius: 7px;
    background-color: hsl(31, 66%, 93%);
    margin-right: 960px;
    margin-left: 149px;
    margin-top: -2027px;
}

.content-manage-help-text{
    font-family:  "DM Sans", sans-serif;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 50px;
    font-size: 40px;
    line-height: 0.9;
    font-weight: 500;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
    
}
.make-italic2{
    font-style: italic;
    color: hsl(256, 67%, 59%);
}

.post-button{
    width: 170px;
    margin-left: 40px;
    margin-bottom: 120px;
}

.faster{
    position: relative;
    font-family: "DM Sans", sans-serif;
    border: 0px solid red;
    border-radius: 7px;
    background-color: hsl(0, 100%, 16%);
    margin-left: 435px;
    margin-right: 700px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 20px;
    top: -1150px;
}

.number-in-pre{
    font-size: 50px;
    font-style: normal;
    font-weight: 550;
    margin: 0px;
}

.number-effect{
    margin-top: 5px;
    line-height: 0.8;
    margin-bottom: 0px;
}

.profiles{
    width: 170px;
    margin-top: 35px;
}

.manage{
    position: relative;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    border: 0px solid red;
    border-radius: 7px;
    background-color: hsl(0, 100%, 25%);
    margin-left: 435px;
    margin-right: 700px;
    margin-top: 30px;
}



.manage-text{
    font-size: 35px;
    font-weight: 500;
    padding-left: 20px;
    line-height: 0.9;
    letter-spacing: -0.05em;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.accounts-example{
    width: 285px;
    height: 55px;
    padding-top: 20px;
    padding-left: 25px
}

.posting-schedule{
    position: relative;
    overflow: hidden;
    height: 230px;
    font-family: "DM Sans", sans-serif;
    border: 0px solid red;
    border-radius: 7px;
    background-color: hsl(39, 100%, 71%);
    margin-left: 700px;
    margin-right: 453px;
    top: -261px;
    
}

.posting-schedule-text{
    padding-left: 20px;
    font-size: 30px;
    line-height: 0.8;
    font-weight: 500;
}

.posting-schedule-image{
    width: 180px;
    padding-left: 20px;
    position: relative;
    bottom: 7px;   
}

.ai-av{
    position: relative;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    border: 0px solid red;
    border-radius: 7px;
    background-color: hsl(39, 100%, 71%);
    margin-right: 960px;
    margin-left: 149px;
    margin-top: 30px;
    padding: 0px;
}

.ai{
    width: 220px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.move-wave{
    padding-left: 20px;
    font-weight: 500;
    font-size: 50px;
    line-height: 0.9;
    letter-spacing: -0.05em;
    padding-left: 20px;
}

.optimisation{
    position: relative;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    border: 0px solid red;
    border-radius: 7px;
    background-color: hsl(254, 88%, 90%);
    margin-left: 1000px;
    margin-right: 130px;
    top: -827px;
    right: 30px;
}

.best-times{
    width: 350px;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
}

.optimisation-text{
    padding-left: 30px;
    font-size: 30px;
    font-weight: 500;
    font-style: bold;
    letter-spacing: -0.05em;
    line-height: 0.9;
    padding-top: 20px;
}

.optimisation-para{
    padding-left: 30px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.05px;
}

.pons{
    position: relative;
    font-family: "DM Sans", sans-serif;
    border: 0px solid red;
    border-radius: 7px;
    background-color: hsl(256, 67%, 59%);
    margin-left: 700px;
    margin-right: 160px;
    top: -830px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.grow{
    position: relative;
    align-items: center;
    padding-left: 20px;
    width: 200px;
    top: -90px;
}

.pons-text{
    position: relative;
    font-family: "DM Sans", sans-serif;
    border: 0px solid red;
    border-radius: 7px;
    background-color: hsl(256, 67%, 59%);
    margin-right: 300px;
    left: 270px;
    bottom: -60px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 30px;padding-bottom: 0%;
}